In [1]:
import pandas as pd

In [6]:
dfSeoulWorkers = pd.read_excel('./data/사업체현황+종사자수.xlsx', header=2, usecols='B:E')
dfSeoulWorkers.columns = ['구별', '사업체수', '총종사자수', '여성종사자수']

c:\DEV\LANGS\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
dfSeoulWorkers['남성종사자수'] = dfSeoulWorkers['총종사자수'] - dfSeoulWorkers['여성종사자수']

In [10]:
dfSeoulWorkers.tail()

     구별    사업체수   총종사자수  여성종사자수  남성종사자수
20  관악구   37915  128417   60025   68392
21  서초구   71958  487976  197892  290084
22  강남구  110007  801419  353610  447809
23  송파구   74531  400781  156193  244588
24  강동구   41660  157465   74050   83415