# 판다스로 데이터분석 다시 해보기

In [12]:
import pandas as pd
# 엑셀에서 데이터 읽어오기

domestic_tourists_number = pd.read_excel('./pandas_sample.xlsx',
                                         header = 1,
                                         skipfooter = 2,
                                         usecols = 'A:C')
domestic_tourists_number.head(3)

  국적코드  성별     입국객수
0  USA  남성  1212334
1  USA  여성  1899082
2  JAP  남성   876532

In [13]:
# 데이터 정보 확인
domestic_tourists_number.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적코드    6 non-null      object
 1   성별      6 non-null      object
 2   입국객수    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [15]:
# 데이터 기초통계량 확인
domestic_tourists_number.describe()

               입국객수
count  6.000000e+00
mean   1.893269e+06
std    1.070100e+06
min    8.765320e+05
25%    1.051931e+06
50%    1.555708e+06
75%    2.712855e+06
max    3.389092e+06

In [16]:
domestic_tourists_number

  국적코드  성별     입국객수
0  USA  남성  1212334
1  USA  여성  1899082
2  JAP  남성   876532
3  JAP  여성   998463
4  CHI  남성  3389092
5  CHI  여성  2984113